@import "~@taiga-ui/core/styles/taiga-ui-local";

:host {
  .table-bars-wrap {
    display: flex;
    align-items: center;
    padding: 0.875rem 0;
    .uploader {
      min-width: 350px;
      @media #{$tui-mobile} {
        min-width: 150px;
      }
    }
    .buttons {
      margin-left: auto;
    }
    .add-button,
    .save-button {
      margin: 2px;
      @media #{$tui-mobile} {
        & .label {
          display: none;
        }
        ::ng-deep .t-left {
          margin: 0;
        }
        ::ng-deep .t-wrapper {
          padding: 0 10px;
        }
      }
    }
  }
}
