<tui-root>
  <div class="canvas-wrapper">
    <canvas #canvas width="360" height="600" style="background: aqua"></canvas>
  </div>

  <ng-template #tableBarTemplate let-close>
    <div tuiMode="onDark" class="table-bars-wrap">
      <app-image-uploader class="uploader" (updateImage)="setDocImage($event)">
      </app-image-uploader>
      <button
        tuiButton
        type="button"
        appearance="outline"
        size="m"
        icon="tuiIconPlus"
        class="add-button"
        (click)="showDialog()"
      >
        Add Barcode
      </button>
    </div>
  </ng-template>
  <tui-table-bars-host></tui-table-bars-host>
</tui-root>
